@media (prefers-color-scheme: dark) {
  body {
    background-color: #343c43;
  }

  .search {
    color: white;
    border: white solid 1px;
    background-color: #343c43;
  }

  .search:focus {
    outline: none;
  }

  .search::placeholder {
    color: white;
  }

  input {
    border: none;
  }










  .container {
    color: white;
  }


  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: auto;
  }

  .tiles {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }

  #btnSU {
    padding: 7px 30px;
    text-decoration: none;
    color: red  !important;
    background-color: blue !important;
  }


  .button {
    padding: 7px 30px;
    text-decoration: none;
    color: rgb(218, 220, 222);
    background-color: rgb(86, 94, 101);
  }

  .tile1 {
    padding: 7px 30px;

    color: rgb(86, 94, 101);
    background: rgb(149, 199, 174);
  }

  .tile2 {
    padding: 7px 30px;

    color: rgb(86, 94, 101);
    background-color: rgb(199, 174, 149);
  }

  .tile3 {
    padding: 7px 30px;

    color: rgb(86, 94, 101);
    background-color: rgb(199, 149, 174);
  }

  .tile4 {
    padding: 7px 30px;

    color: rgb(86, 94, 101);
    background-color: rgb(149, 174, 199);
  }

  .tile5 {
    padding: 7px 30px;

    color: rgb(86, 94, 101);
    background-color: rgb(174, 199, 149);
  }

  .tile6 {
    padding: 7px 30px;

    color: rgb(86, 94, 101);
    background-color: rgb(174, 149, 199);
  }

  a:hover {
    background-color: #343c43;
  }


  #lblGreetings, #hourminutesecond, #daymonthyear {
    color: white;
  }

}
